{% load static%}
<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>PLUR | Home</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
  <!--                   PLUR Book Columna-->
  <div class="col">
    <div>
      <figure>
        <img src="{% static 'img/plurbook/plur_book_1.jpg' %} " alt="">
      </figure>
    </div>
    <div>
      <figure>
        <img src="{% static 'img/plurbook/plur_book_2.jpg' %} " alt="">
      </figure>
    </div>
    <div>
      <figure>
        <img src="{% static 'img/plurbook/plur_book_3.jpg' %} " alt="">
      </figure>
    </div>
    <div>
      <figure>
        <img src="{% static 'img/plurbook/PODER.jpg' %} " alt="">
      </figure>
    </div>
    <div>
      <figure>
        <img src="{% static 'img/plurbook/plur_book_4.jpg' %} " alt="">
      </figure>
    </div>
  </div>


  <!--                   PLUR Prod Columna-->
  <div class="col">
    <div>
      <figure>
        <img src="{% static 'img/plurprod/plur_prod_1.jpg' %} " alt="">
      </figure>
    </div>
    <div>
      <figure>
        <img src="{% static 'img/plurprod/plur_prod_2.jpg' %} " alt="">
      </figure>
    </div>
    <div>
      <figure>
        <img src="{% static 'img/plurprod/plur_prod_3.jpg' %} " alt="">
      </figure>
    </div>
    <div>
      <figure>
        <img src="{% static 'img/plurprod/CREAR.jpg' %} " alt="">
      </figure>
    </div>
    <div>
      <figure>
        <img src="{% static 'img/plurprod/plur_prod_4.jpg' %} " alt="">
      </figure>
    </div>
  </div>


  <!--                   PLUR Tech Columna-->
  <div class="col">
    <div>
      <figure>
        <img src="{% static 'img/plurtech/plur_tech_1.jpg' %} " alt="">
      </figure>
    </div>
    <div>
      <figure>
        <img src="{% static 'img/plurtech/plur_tech_2.jpg'%} " alt="">
      </figure>
    </div>
    <div>
      <figure>
        <img src="{% static 'img/plurtech/plur_tech_3.jpg' %} " alt="">
      </figure>
    </div>
    <div>
      <figure>
        <img src="{% static 'img/plurtech/SENTIR.jpg' %} " alt="">
      </figure>
    </div>
    <div>
      <figure>
        <img src="{% static 'img/plurtech/plur_tech_4.jpg' %} " alt="">
      </figure>
    </div>
  </div>


  <script src="{% static 'js/modernizr-custom.js' %} "></script>
  <script src="{% static 'js/inicio.js' %} "></script>
</body>
</html>
